*{
    box-sizing: border-box;
    margin: 0;
}
h1 {
    text-align: center;
    background-color: yellowgreen;
    padding: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(238, 247, 248);
    border-radius: 2px;
    width: 20%;
}
button{
    background-color: yellowgreen;
    width: 100%;
    padding: 5px;
    border: 1px solid white;
    border-radius: 2px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(195, 226, 133);
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
input{
    height: 4vh;
    border: 2px solid transparent;
    outline: none;
    border-radius: 2px;
}
input:focus::-webkit-input-placeholder{
    opacity: 0;
}
.input label{
    font-weight: bold;
}
.buttonContainer button{
    font-weight: bolder;
}
.buttonContainer{
    margin-top: 10px;
}
.success{
    border: 2px solid greenyellow;
}
.error{
    border: 2px solid rgb(255, 0, 13);
}
label{
    margin-bottom: 5px;
}
span{
    color: red;
    display: none;
}
.span{
    display:inline-block;
}